html,
    body {
      margin: 0;
      height: 100%;
      width: 100%;
    }

    #gameHolder {
      display: block;
      width: 60%;
      margin: auto;
    }

    #gameHeader {
      display: flex;
      align-items: center;
      height: 50px;
      background-color: #4a752c;
    }

    #info {
      display: flex;
      justify-items: end;
      margin-left: auto;
      margin-right: 10px;
      width: 150x;
    }

    #theCanvas {
      display: block;
    }

    img {
      width: 64px;
      height: 64px;
    }

    #play {
      align-self: center;
      width: 100px;
      height: 25px;
      background-color: rgb(40, 146, 30);
      margin-left: auto;
      margin-right: 10px;
    }

    #score {
      color: white;
      border-radius: 8px;
      text-align: center;
      font-size: 1.5em;
    }
    #time{
      color: white;
      font-size: 1em;
      margin-right: 2em;
      margin-left: 6em;

    }