body {
    background-color: beige;
    margin: 0;
    background-image: url("images/header2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.main-header {
    background-color: rgb(223, 183, 97);
    margin-bottom: 5%;
    border-radius: 8px;
}

.main-header p {
    display: inline-block;
    color: brown;
    text-align: center;
    margin-left: 1em;
    width: 100px;
    font-weight: bolder;
    font-family: cursive;
}

.main-header nav {
    float: right;
    margin-top: 30px;

}

.main-header a {
    color: brown;
    margin: 0 1em 2%;
    font-weight: bolder;
    font-family: cursive;

}

.about-Us {
    width: 100%;
    height: 100vh;
    text-align: center;
    background-image: url("images/aboutUs.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-Us p {
    margin-top: 30px;
    padding: 10px;
    color: brown;
    font-size: larger;
    font-weight: bolder;
    font-family: monospace;
    background-color: gray;
    border-radius: 8px;
    width: 50%;
}

.header-h1 {
    background-color: transparent;
    text-align: center;
    color: brown;
    border-bottom: 2px solid brown;
    margin: 0 20% 10% 20%;
    padding: 5%;
    font-size: 3em;
}

.p {
    color: brown;
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: solid;
}

button {
    background-color: rgb(231, 12, 12);
    color: rgb(24, 23, 23);
    font-weight: bolder;
    font-family: cursive;
    border-radius: 8px;
}

button:hover {
    color: white;
}

.container-footer {
    display: block;
    background-color: gray;
    text-align: center;
    height: 50px;
    padding-top: 40px
}

.nav {
    text-align: center;
}

.menu-button {
    width: 200px;
    height: 50px;
    padding: 10px;
    font-size: 1.5em;
    margin: 5%;
}