
body{
    background-color: beige;
    margin: 0;
    background-image: url("images/header2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }
header{
    height: px;
    background-color: rgb(223, 183, 97);
    /* color: brown; */
    margin-bottom: 5%; 
    border-radius: 8px;   
    }
header p{
    display: inline-block;
    color: brown;
    text-align: left;
    margin-left: .5em;
    width:  100px;
    font-weight: bolder;
    font-family: cursive;
}
header nav{
    float: right;
    margin-top: 30px;
    
}
header a{
    color: brown;
    font-weight: bolder;
    margin: 0 1em 2%;
    font-family: cursive;

}
#order{
    border: 5px solid rgba(234, 10, 10, 0.614);
    border-radius: 5px;
}
.about-Us{
    width: 100%;
    height: 100vh;
    text-align: center;
    background-image: url("images/aboutUs.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.about-Us h2{
    color:black;
    padding: 30px;
    font-size: 3em; 
}
.about-Us p{
    margin-top: 30px;
    padding: 10px;
    color: brown;
    font-size: larger;
    font-weight: bolder;
    font-family: monospace;
    background-color: gray;
    border-radius: 8px;
    width: 50%;
}

.menu-link{
    display: block;
    text-align: center;
    border: 8px solid brown;
    border-radius: 10px;
    padding: 10px;
    margin-left: 35%;
    margin-right: 35%;
}
.p{
    color: brown;
    text-align: center;
} 

a{
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: solid;
}


.container-footer{
   display: block;
   background-color: gray;
   text-align: center;
   height: 50px;
   padding-top:  40px
   

}
h1{
    text-align: center;
    background-color: transparent;
}