#pDiv{
    border: 3px solid black;
    width: 200px;
    text-align: center;
    margin: 1em;
}

form{
    border: 2px solid black;
    width: fit-content;
    padding: 5px;
    margin: 10px;
    margin-left: 0px;
}
