#root {
  max-width: 1280px;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

.weatherApp{
  width: 40%;
  height: 300px;
  margin: auto;
  background-color: lightblue;
  position: relative;
  
}
