section img {
    display: inline;
    border-radius: 10px;
    float: left;

}

#image-header {
    display: block;
    margin: auto;
}

.item {
    background-color: white;
    margin: 5% 0% 10%;
    border: 1px solid beige;
    border-radius: 10px;
    width: fit-content;
    padding-right: 1em;
    box-shadow: 4px 4px 4px 4px gray;
}

.item-discription {
    float: left;
    margin: .5em;
    margin-bottom: 1em;
}

.item-price {
    float: right;
    font-weight: bold;
    margin: .5em 0 2em 2em;
    font-size: 1.17em;

}

a {
    color: black;
    text-decoration: none;
}

section div {
    overflow: auto;
}